body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden; /* جلوگیری از اسکرول افقی */
}

:root {
    --bg-color: #f0f4f8;
    --text-color: #333;
    --container-bg: #ffffff;
    --container-shadow: rgba(0, 0, 0, 0.1);
    --button-bg: #4CAF50;
    --button-hover: #45a049;
}

body.dark {
    --bg-color: #121212;
    --text-color: #ffffff;
    --container-bg: #333333;
    --container-shadow: rgba(255, 255, 255, 0.1);
    --button-bg: #1a73e8;
    --button-hover: #155bb5;
}

.container {
    max-width: 700px;
    width: 100%;
    background-color: var(--container-bg);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px var(--container-shadow);
    animation: fadeIn 1s ease-in-out;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 28px;
}

.question {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.question:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question p {
    font-weight: 600;
    margin-bottom: 10px;
}

.radio {
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
}

input[type="radio"] {
    margin-right: 8px;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: var(--button-hover);
}

.result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    animation: fadeIn 1s ease-in-out;
}

#theme-switcher-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--button-bg);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--button-hover);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
